.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    gap: 1rem;
}
.container img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 450px;
    border-radius: 50%;
}
.container div h1 {
    font-size: 15rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 12rem;
}
.container div p {
    font-size: 3.4rem;
    line-height: 3rem;
    font-weight: 600;
}
.container div span {
    font-size: 1.1rem;
    font-weight: 600;
}
.button {
    color: var(--text-button) !important;
    background-color: var(--bg-button);
    padding: .7rem 1.5rem;
    border-radius: 1rem;
    font-size: 1.7rem;
    text-decoration: none;
    font-weight: 700;
    transition: background 100ms ease-out;
}
.button:hover {
    background-color: var(--bg-button-hover);
}
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        gap: 0;
    }
    .container img {
            aspect-ratio: 1 / 1;
            object-fit: cover;
            width: min(90%, 450px);
            border-radius: 50%;
        }
    .container div h1 {
        font-size: 12rem;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 10rem;
    }
    .container div p {
        font-size: 2.6rem;
        line-height: 5rem;
        font-weight: 600;
    }
    .container div span {
        font-size: 2rem;
        font-weight: 600;
        margin-inline: 1rem;
        text-align: center;
    }
    .container div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

}