.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100dvh;
    gap: 5rem;
    overflow: hidden;
}
.poster img, .logo img {
    width: 30rem;
    height: auto;
    object-fit: cover;
    pointer-events: none;
}
.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90%;
    width: 30rem;
    text-align: center;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text a {
    color: var(--text-button);
    background-color: var(--bg-button);
    padding: .7rem 1.5rem;
    border-radius: 1rem;
    font-size: 1.7rem;
    text-decoration: none;
    font-weight: 700;
    transition: background 100ms ease-out;
}
.text a:hover {
    background-color: var(--bg-button-hover);
}

@media (max-width: 1050px) {
    .logo {
        display: none;
    }
    .container {
        flex-direction: column;
        justify-content: center;
        min-width: 100vw;
    }
    .logoContainer {
        height: fit-content;
    }
    .poster img {
        width: 100%;
        height: auto;
    }
}