:root {
    --alive: #9fff31;
    --dead: #f27373;
}
.title {
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center
}
.name {
    text-wrap: balance;
    font-size: 1.25rem;
}
.occupation {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.container {
    display: flex;
    margin-top: 4.5rem;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.card {
    transition: border 200ms ease-out;
    background-color: var(--bg-article);
    display: flex;
    gap: .3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 24rem;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    border: #00000000 3px solid;
    animation: FadeIn 0.5s ease-out;
}
.card:hover {
    border: var(--global-hover) 3px solid;
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    max-width: 1500px;
    align-items: center;
    justify-content: center
}
.card img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 150px;
}
.alive, .dead {
    border: 2px solid;
    width: 100px;
    height: fit-content;
    border-radius: 20px;
    font-weight: 700;
    font-size: 1rem;
    padding-block: 2px;
    text-align: center
}
.alive {
    background-color: var(--alive);
}
.dead {
    background-color: var(--dead);
}
.imageContainer {
    width: 150px;
    height: 150px;
    overflow: hidden;
}
.info, .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}