.container {
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.container h1 {
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center
}
.card h2 {
    font-size: max(100%, 1.25rem);
    text-align: center;
    font-weight: 600;
    padding-inline: 1rem;
    max-width: max-content;
}
.cardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    gap: 1rem;
    max-width: 1600px;
}
.card {
    width: min(90%, 400px);
    height: 500px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--bg-article);
    color: var(--text-secondary);
    border-radius: 1rem;
    border: var(--bg-article) 3px solid;
    transition: border 200ms ease-out;
    overflow: hidden;
}
.card p {
    text-align: center;
}
.card:hover {
    border: #545454 3px solid;
}
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: .5rem;
}
.imageContainer {
    display: flex;
    width: 308px;
    height: 200px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}
.info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.info p {
    font-size: 1.1rem;
}