:root {
    --bg-primary: radial-gradient(circle, rgba(61, 228, 244, 1) 0%, rgba(1, 92, 158, 1) 100%);
    --text-primary: #fff;
    --bg-button: #FED90F;
    --text-button: #000;
    --text-secondary: #000;
    --bg-button-hover: #e1c41d;
    --bg-article: #e8f8ff;
    --loading: #ffda05;
    --global-hover: #545454;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Funel Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}
body {
    background: var(--bg-primary);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: var(--text-secondary);
    min-height: 100dvh;
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a, a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
    color: var(--text-primary);
}
div {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav {
    z-index: 1000 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-article);
    overflow: hidden;
    top: 65px;
    position: absolute;
    border-radius: 12px;
    transition: all 200ms ease-out;
    width: 45px;
    height: 0px;
    border: 0 solid;
}
.nav.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-article);
    overflow: hidden;
    border-radius: 12px;
    transition: all 200ms ease-out;
    width: 120px;
    height: 100px;
    top: 75px;
    border: 2px solid;
    z-index: 1000;
}
.nav a {
    color: var(--text-secondary);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 0 0 .5rem;
    border-radius: .6rem;
}
.nav a:hover {
    background-color: var(--bg-button);
}