:root {
    --bg-primary: radial-gradient(circle, rgba(61, 228, 244, 1) 0%, rgba(1, 92, 158, 1) 100%);
    --text-primary: #fff;
    --bg-button: #FED90F;
    --text-button: #000;
    --text-secondary: #000;
    --bg-button-hover: #e1c41d;
    --bg-article: #e8f8ff;
    --loading: #ffda05;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Funel Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}
body {
    background: var(--bg-primary);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--text-secondary);
    min-height: 100vh;
}
a, a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
    color: var(--text-primary);
}
div {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar a {
    color: var(--text-button);
    padding: .25rem .5rem;
    border-radius: 7px;
    height: 40px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
}
.navbar a:hover, .navbar a:active, .explorer-button:hover{
    background-color: var(--bg-button-hover);
}
.navbar {
    transition: all 200ms ease;
    display: flex;
    position: fixed;
    margin: 1rem;
    top: 40px;
    width: 43px;
    height: 0px;
    left: 0;
    gap: .1rem;
    padding: 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #00000000;
    background-color: var(--bg-article);
    overflow: hidden;
}
.navbar.active {
    display: flex;
    position: fixed;
    padding: .5rem;
    top: 40px;
    width: 120px;
    height: 96px;
    top: 55px;
    color: #000;
}
.toggle-menu {
    display: flex;
    position: fixed;
    margin: 1rem;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: .1rem;
    border-radius: 7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-button);
    background-color: var(--bg-article);
}
.explorer-button {
    display: flex;
    position: fixed;
    margin-top: 1rem;
    top: 0;
    left: 4.3rem;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: .1rem;
    border-radius: 7px;
    font-size: 1.15rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-article);
    color: var(--text-button) !important;
    width: 150px;
    height: 45px;
}
