:root {
    --bg-primary: radial-gradient(circle, rgba(61, 228, 244, 1) 0%, rgba(1, 92, 158, 1) 100%);
    --text-primary: #fff;
    --bg-button: #FED90F;
    --text-button: #000;
    --bg-button-hover: #e1c41d;
    --bg-article: #e8f8ff;
    --loading: #ffda05;
}
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Concert One', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-image: var(--bg-primary);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
}
a, a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
    color: var(--text-primary);
}
div {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar a {
    color: var(--text-button);
    padding: .5rem 1rem;
    border-radius: 7px;
    width: 100%;
}
.navbar a:hover {
    background-color: var(--bg-button-hover);
}
.navbar {
    transition: all 200ms ease;
    display: flex;
    position: fixed;
    margin: 1rem;
    top: 40px;
    width: 43px;
    height: 0px;
    left: 0;
    gap: .5rem;
    padding: 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #00000000;
    background-color: var(--bg-article);
    overflow: hidden;
}
.navbar.active {
    display: flex;
    position: fixed;
    padding: .5rem;
    top: 40px;
    width: 120px;
    height: 92px;
    top: 55px;
    color: #000;
}
.toggle-menu{
    display: flex;
    position: fixed;
    margin: 1rem;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: .1rem;
    border-radius: 7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-button);
    background-color: var(--bg-article);
}